<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>

   <h1><%= kindOfDay %></h1>

   <!-- loops through items array and adds them to the list -->
   <ul>
   <% for (var i=0; i < newListItems.length; i++) { %>  
         <li> <%= newListItems[i] %> </li>
   <% } %>

   </ul>

   <!-- Input and add new item -->
   <form class="" action="/" method="POST">
      <input type="text" name="newItem">
      <button type="submit" name="button">Add</button>
   </form>

</body> 
</html>